{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
 <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        

        <tbody>
            {% if data %}
                {% for i in data %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>
{% endblock %}